[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pandas = "*"
pyspark = {version = "*", extras = ["pandas_on_spark"]}
plotly = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
